/* global */
:root{
    --primary-dark-magenta: hsl(300, 43%, 22%);
    --primary-soft-pink: hsl(333, 80%, 67%);

    --primary-grayish-magenta: hsl(303, 10%, 53%);
    --primary-light-grayish-magenta: hsl(300, 24%, 96%);
    --primary-white: hsl(0, 0%, 100%);
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(/assets/images/bg-pattern-top-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    overflow: hidden;
    background-position: rotate(-90deg);
}

/* font-weight disponibility -> 400 500 700 */

/* content start */
.window{
    background-image: url(/assets/images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    background-position: rotate(180deg);
}
.hidden {
    display: none;
}
.full-content {
    display: block;
    width: 1000px;
    height: 100vh;
    margin: 15vh auto;
}
/* title description and reviews start */
.reviews, .review-cards span {
    height: 350px;
}
.title-desc, .reviews{
    color: var(--primary-dark-magenta);
}
.title-desc h1{
    margin: 0;
}
.title-desc p{
    font-size: 1.1rem;
    font-weight: 200;
    margin-bottom: 25px;
}
.review-cards {
    display: block;
    align-items: center;
    width: 500px;
    margin-top: 15px;
}
.stars {
    margin-right: 30px;
}
.rev-1 {
    bottom: 250px;
    left: 450px;
}
.rev-2 {
    bottom: 190px;
    left: 490px;
    width: 490px;
}
.rev-3 {
    bottom: 130px;
    left: 550px;
}
.rev-1, .rev-2, .rev-3 {
    background-color: var(--primary-light-grayish-magenta);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
    padding: 25px 55px;
    font-weight: 700;
}
/* title description and reviews end */

/* user reviews start */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: second baseline;
}
.user-review {
    display: flex;
    margin-top: 200px;
}
.user-1 img, .user-2 img, .user-3 img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.user-review {
    margin-top: 20px;
}
.user-1 {
    position: relative;
    bottom: 1.5vh;
}
.user-3 {
    position: relative;
    top: 1.5vh;
}
.user-1, .user-2, .user-3 {
    display: block;
    width: 280px;
    font-weight: 500;
    background-color: var(--primary-dark-magenta);
    padding: 25px 15px 15px 15px;
    margin: 0 15px 0 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: var(--primary-white);
}
span.name, span.verified {
    margin: 0 0 0 25px;
}
span.verified {
    color: var(--primary-soft-pink);
    margin: 0;
}
.user-txt {
    margin: 10px 0;
    flex-direction: row;
    display: flex;
}
blockquote {
    align-items: center;
    margin: 15px;
    width: 270px;
}
h1 {
    font-size: 3.3rem;
    width: 450px;
}
p{
    width: 450px;
}
/* user reviews end */
/* content end */

/* copyright */
.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }